node_modules
.env
# Ignorar archivos bloqueados o temporales de Chrome / WhatsApp
**/*.pma
**/LOCK
**/LOG
**/LOG.old
**/CURRENT
**/DevToolsActivePort
**/*.tmp
jose.zip
leiner.zip
auth_info
netflix_house.html